.kalın {
  font-weight: bold;
}

.künye {
  border: none;
}

.ortala {
  text-align: center;
}

.başlık {
  text-align: center;
  font-weight: bold;
  margin-top: -1rem;
}

.mdbaşlık {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.kaydır {
  margin-left: 3rem;
}

.asılı {
  margin-top: 0rem;
  text-indent: 3rem;
  margin-bottom: 0.5rem;
}

.ref {
  display: none;
}