.kalın {
  font-weight: bold;
}

.künye {
  border: none;
}

.ortala {
  text-align: center;
}

.başlık {
  text-align: center;
  font-weight: bold;
  margin-top: -1rem;
}

.mdbaşlık {
  font-weight: bold;
  margin-bottom: 0.25rem;
}